@model Vidly.ViewModel.CusomtersViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
    <p>We dont have any customers yet !!!</p> 
}
else
{
    <h5>Customer</h5>
    foreach (var customer in Model.Customers)
    {
        <a>@Html.ActionLink(customer.Name, "Details",
               "Customers",new {ID=customer.ID},"")</a>
                                        
        <br/>                
    }
}